html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  background: #f5f5f5;
}

div#main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

section {
  position: relative;
  width: 100vw;
  padding: 2rem;
  box-sizing: border-box;
}

section.min-height {
  min-height: 100vh;
}

section img.background {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 3rem;
  font-weight: 400;
  color: #333;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #666;
}

h3 {
  font-weight: 400;
  font-size: 1.25rem;
  color: #666;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  color: #666;
  font-weight: 300;
}

p.large {
  font-size: 1.2rem;
}

p.small {
  font-size: 0.8rem;
}

hr {
  margin: 2.5rem;
  border: 0;
  border-top: 1px solid #eee;
}

li {
  line-height: 1.7;
  color: #666;
}

li::marker {
  color: #4e567e;
}

a {
  color: #4e567e;
  text-decoration: none;
}

a:hover {
  color: #333;
}

.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 20px auto;
  padding: 1rem;
  box-sizing: border-box;
}

.container .box {
  border-radius: 10px;
  border: 1px solid #eee;
  padding: 24px 16px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

img.socialIcon {
  height: 30px;
  width: 30px;
}